/* Constants */

:root {
  /* Colors (from: https://tailwindcss.com/docs/colors/) */

  --orange-100: oklch(95.4% 0.038 75.164);
  --orange-200: oklch(90.1% 0.076 70.697);
  --orange-300: oklch(83.7% 0.128 66.29);

  --background: var(--orange-100);
}

/* Base styles */

* {
  box-sizing: border-box;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  background-color: var(--background);
}

/* Layout */

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

section {
  width: 50%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.status-bar {
  width: calc(4rem * 4 + 1rem * 3);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
}

.controls > div {
  display: flex;
  flex-direction: row;

  gap: 0.5rem;
}

/* Board */

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: var(--orange-200);

  gap: 1rem;
  padding: 1rem;

  border-radius: 0.5rem;
  border: 1rem solid var(--orange-300);
}

.square {
  --size: 4rem;

  width: var(--size);
  height: var(--size);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color);

  border-radius: 0.5rem;
  border: 2px solid color-mix(in srgb, var(--color), black 10%);
}

.square[data-content="empty"] {
  --color: color-mix(in srgb, var(--orange-200), orange 10%);
}

.square[data-content="2"] {
  --color: color-mix(in srgb, var(--orange-200), white 10%);
}

.square[data-content="4"] {
  --color: color-mix(in srgb, var(--orange-200), red 10%);
}

.square[data-content="8"] {
  --color: color-mix(in srgb, var(--orange-200), yellow 10%);
}

.square[data-content="16"] {
  --color: color-mix(in srgb, var(--orange-200), purple 10%);
}

.square[data-content="32"] {
  --color: color-mix(in srgb, var(--orange-200), green 10%);
}

.square[data-content="64"] {
  --color: color-mix(in srgb, var(--orange-200), blue 10%);
}

.square[data-content="128"] {
  --color: color-mix(in srgb, var(--orange-200), cyan 10%);
}

.square[data-content="256"] {
  --color: color-mix(in srgb, var(--orange-200), pink 10%);
}

.square[data-content="512"] {
  --color: color-mix(in srgb, var(--orange-200), lime 10%);
}

.square[data-content="1024"] {
  --color: color-mix(in srgb, var(--orange-200), magenta 10%);
}

.square[data-content="2048"] {
  --color: color-mix(in srgb, var(--orange-200), orangered 25%);
}

/* Dialog */

dialog:open {
  justify-self: center;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
  border: none;
  border-radius: 8px;

  padding: 2rem;
  gap: 1rem;
}

dialog > form {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.4;
}

/* Buttons */

button {
  cursor: pointer;
  border-radius: 99rem;
  border: none;

  background-color: var(--orange-200);

  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--orange-300);
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--orange-100);
}

button.icon {
  --size: 2.5rem;

  width: var(--size);
  height: var(--size);

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button.icon.large {
  --size: 3.25rem;

  font-size: 24px;
}

button.text {
  padding: 0.5rem 0.75rem;
}
