button {
  --size: 2rem;

  width: var(--size);
  height: var(--size);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border-radius: 99rem;

  font-size: 20px;
}

.large {
  --size: 3.25rem;

  font-size: 24px;
}
